


<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=1200, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="style/css/reset.css" media="all">
		<title>더 도어스 스크린 골프</title>
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js" type="text/javascript"></script>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<!--JQuery-->
		<script type="text/javascript" src="style/js/jquery-1.11.3.min.js"></script>
		<!--슬라이더-->
		<script type="text/javascript" src="style/js/jquery.bxslider/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="style/js/main.js"></script>
	</head>
	<body>

	<!--헤더-->
	{{>header}}
	<!--헤더-->

	<!--바디-->
	<article>
		<!--내용시작-->

			<!--1단-->
			<div id="level_01">
				<div class="wrap1200">
					<!--메인비주얼-->
						<div class="mainVisual">
							<ul class="mainVisualSlide">
								<li><img src="images/main/mainVisual_01.jpg" alt=""></li>
								<li><img src="images/main/mainVisual_02.jpg" alt=""></li>
								<li><img src="images/main/mainVisual_03.jpg" alt=""></li>
							</ul>
						</div>
						<!--메인비주얼-->
						<!--최신글보기-->
						<div class="mainRecentArticle">
							<div class="notice">
								<h3>NOTICE</h3>
								<ul>
									<li><a href="notice-detail?id={{notices.0.id}}">{{notices.0.title}}<a/><span>{{notices.0.time}}</span></li>
									<li><a href="notice-detail?id={{notices.1.id}}">{{notices.1.title}}<a/><span>{{notices.1.time}}</span></li>
									<li><a href="notice-detail?id={{notices.2.id}}">{{notices.2.title}}<a/><span>{{notices.2.time}}</span></li>
								</ul>
								<a href="notice-list" class="more">자세히 보기</a>
							</div>
							<div class="shop">
								<h3>매장</h3>
								<ul class="shopSlide">
									<li>
										<h4>{{stores.0.storeName}}</h4>
										<div>{{stores.0.storeAddress}}<span>{{stores.0.customer_phone}}</span></div>
									</li>
									<li>
										<h4>{{stores.1.storeName}}</h4>
										<div>{{stores.1.storeAddress}}<span>{{stores.1.customer_phone}}</span></div>
									</li>
									<li>
										<h4>{{stores.2.storeName}}</h4>
										<div>{{stores.2.storeAddress}}<span>{{stores.2.customer_phone}}</span></div>
									</li>
								</ul>
								<a href="store-search" class="more">자세히 보기</a>
							</div>
						</div>
						<!--최신글보기-->
					</div>
			</div>
			<!--1단-->

			<!--2단-->
			<div id="level_02">
				<div class="wrap1000">
					<!--내정보보기-->
					<div class="myInfo">
						{{#if user.isAuth}}
						<div>
							<div id="user_photo" style="background: url({{user.photo}}) no-repeat center center; background-size: 90px;"></div>
							<p><b>{{user.nickname}}</b> 프로님 환영합니다.<span>{{user.username}}</span></p>
						</div>
						{{else}}
						{{/if}}
						<ul>
							<li>{{user.user_averscore}}<span>타수</span></li>
							<li>{{user.user_bestCarry}}m<span>드라이버 비거리</span></li>
							<li>{{user.user_fairwayHitRate}}<span>페어웨이 적중률</span></li>
						</ul>
						<a href="my-profile" class="more">내 정보 더보기</a>
					</div>
					<!--내정보보기-->
				</div>
			</div>
			<!--2단-->

			<!--3단-->
			<div id="level_03">
				<div class="wrap800">
				<!--바로가기-->
				<div class="mainGo mainGo_01">
					<div>
						<h3>골프가 주는 즐거움을<br>모두가 누리는<br>가치실현</h3>
						<p>국내 최초 Real 엔진<br>국내 최고사양 Sensor<br>자체 개발 Mirror 키오스크</p>
						<a href="#" class="more">자세히 보기</a>
					</div>
					<img src="images/main/mainGo_01.jpg" alt="골프코스 전경">
				</div>
				<div class="mainGo mainGo_02">
					<div>
						<h3>강력해진 컨텐츠로<br>재미와 실력을 한번에</h3>
						<p>세상에 없던 또 하나의 대체 Stroke II<br>Stroke game, Practice game</p>
						<a href="#" class="more">자세히 보기</a>
					</div>
					<img src="images/main/mainGo_02.jpg" alt="스크린 골프 모니터 화면">
				</div>
				<div class="mainGo mainGo_03">
					<div>
						<h3>필드의 리얼함,<br>에코룸의 특별함</h3>
						<p>신규 센서 ‘키루스 뷰(Vue)’<br>공조 시스템</p>
						<a href="intro-product" class="more">자세히 보기</a>
					</div>
					<img src="images/main/mainGo_03.jpg" alt="스크린 골프장 키루스 뷰">
				</div>
				<!--바로가기-->
				</div>
			</div>
			<!--3단-->

			<!--4단-->
			<div id="level_04">
				<div class="wrap800">
					<!--코스-->
					<h2>COURSE</h2>
					<div class="bestCourse">
						<a href="course-search?id={{bestCourse.id}}">
							<img src="{{bestCourse.photo}}" alt="Best 골프장 전경"><span class="tag"><img src="images/common/tagBest.png" alt="Best"></span>
							<div class="detailView">
								<h3>{{bestCourse.name_kr}}</h3>
								<ul>
									<li>코스 난이도<img src={{bestCourse.imgHoleLevel}} alt="코스 난이도"></li>
									<li>그린 난이도<img src={{bestCourse.imgGreenLevel}} alt="그린 난이도"></li>
								</ul>
								<p>{{bestCourse.comment_kr}}<span>자세히보기</span></p>
							</div>
						</a>
					</div>
					{{!-- <ul class="newCourse">
						<li><a href="#"><img src="{{newCourses.0.photo}}" alt="New 골프장 전경"><span class="tag"><img src="images/common/tagNew.png" alt="New"></span></a><li>
						<li><a href="#"><img src="{{newCourses.1.photo}}" alt="New 골프장 전경"><span class="tag"><img src="images/common/tagNew.png" alt="New"></span></a><li>
					</ul> --}}
					<a href="course-search" class="more">코스 더 보기</a>
					<!--코스-->
				</div>
			</div>
			<!--4단-->

			<!--5단-->
			<div id="level_05">
				<div class="wrap800">
				<!--스윙비디오-->
				<h2>SWING VIDEO</h2>
				<ul class="swingVideo">
					{{#each videos}}
					<li>
						<a href="swingvideo?id={{this.id}}">
							<div class="articleImg">
								<img src="{{this.filepath_thumb}}" alt="">
								<span class="play"><img src="images/common/bulPlay.png" alt="재생"></span>
							</div>
							<div class="articleInfo">
								<span>{{this.nickname}}</span>
								<span>{{this.like}}</span>
								<span>{{this.chat_num}}</span>
								<span>{{this.visit}}</span>
							</div>
						</a>
					</li>
					{{/each}}
				</ul>
				<a href="swingvideo" class="more">영상 더 보기</a>
				<!--스윙비디오-->
				</div>
			</div>
			<!--5단-->

			<!--6단-->
			<div id="level_06">
				<div class="wrap800">
				<!--인스타그램-->
				<h2>#THE DOORS GOLF INSTAGRAM</h2>
				<ul class="instagramList">
					<li><a href="#"><img src="images/main/insta_01.jpg" alt="김프로님"></a></li>
					<li><a href="#"><img src="images/main/insta_02.jpg" alt="박프로님"></a></li>
					<li><a href="#"><img src="images/main/insta_03.jpg" alt="홍프로님"></a></li>
					<li><a href="#"><img src="images/main/insta_01.jpg" alt="김프로님"></a></li>
				</ul>
				<!--인스타그램-->
				</div>
			</div>
			<!--6단-->

		<!--내용끝-->
	</article>
	<!--바디-->

	<!--풋터-->
	{{>footer}}
	<!--풋터-->
	
	</body>
</html>