<!doctype html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=1200, initial-scale=1.0, maxium-scale=1.0, minimum-scale=1.0, user-scalable=yes" />
		<meta name="format-detection" content="telephone=no" />
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="stylesheet" href="../style/css/reset.css" media="all">
		<title>더 도어스 스크린 골프 공지사항</title>
		<!--[if lt IE 9]>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js" type="text/javascript"></script>
			<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/ie7-squish.js" type="text/javascript"></script>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="../style/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="../style/js/jquery.bxslider/jquery.bxslider.min.js"></script>
		<script type="text/javascript" src="../style/js/main.js"></script>
	</head>
	<body>

	<!--헤더-->
	{{>header}}
	<!--헤더-->

	<!--서브탑-->
	<div class="subTop">
		<div class="subTopInner">
			<h1>공지사항</h1>
			<div class="location">
				<a href="#">COMMUNITY</a> > <span>공지사항</span>
			</div>
		</div>
	</div>
	<!--서브탑-->

	<!--바디-->
	<article>
		<div id="bodyWrap">
		<!--내용시작-->
		<div class="wrap835">

			<!--게시판 리스트-->
			<div class="bbsList">
				<table>
					<caption>공지사항 목록</caption>
					<colgroup>
						<col style="">
						<col style="">
						<col style="">
						<col style="">
					</colgroup>
					<thead>
						<tr>
							<th>번호</th>
							<th>제목</th>
							<th>등록일</th>
							<th>조회</th>
						</tr>
					</thead>
					<tbody>
						{{#each notices}}
						<tr data="{{this.id}}">
							<td>{{math @index "+" 1}}</td>
							<td class="left"><a href="#">{{this.title}}<a/></td>
							<td>{{this.time}}</td>
							<td>{{this.visit}}</td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<!--게시판 리스트-->

			 <!--페이징-->
			<div class="paging">
				<a href="?page={{page.prevPage10}}" class="prev10 {{page.prev10_disable}}">이전10</a>
				<a href="?page={{page.prevPage}}" class="prev {{page.prev_disable}}">이전</a>
				{{#for page.start page.end 1}}
					{{#if (eq @root.page.pageIndex this)}}
						<a href="?page={{this}}" class="on">{{math this "+" 1}}</a>
					{{else}}
						<a href="?page={{this}}" class="">{{math this "+" 1}}</a>
					{{/if}}
				{{/for}}
				<a href="?page={{page.nextPage}}" class="next {{page.next_disable}}">다음</a>
				<a href="?page={{page.nextPage10}}" class="next10 {{page.next10_disable}}">다음10</a>
			</div>
			 <!--페이징-->
			 <br>

			 <!--게시판 검색-->
			 <form action="?page={{page.pageIndex}}" method="GET">
				<div class="searchBbs">
					<select id="" name="" title="검색조건">
						<option value="title">제목</option>
						{{!-- <option value="contents">내용</option>
						<option value="all">제목+내용</option> --}}
					</select>
					<input type="text" id="search" name="search" value="{{search}}" title="검색어">
					<input type="submit" value="검색" title="검색">
				</div>
			 <!--게시판 검색-->
			</form>

		</div>
		<!--내용끝-->
		</div>
	</article>
	<!--바디-->

	{{>footer}}
	
	<script>
		$("table tbody tr").click(function(e){
			var id = $(this).attr('data');
			var url = "notice-detail?id=" + id;
			$(location).attr('href',url);
			// window.location.replace(url);
		});
	</script>
	</body>
</html>